<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp4j.ssm.mapper.device.DeviceMaintainMapper">
  <resultMap id="BaseResultMap" type="com.erp4j.ssm.pojo.DeviceMaintain">
    <id column="device_maintain_id" jdbcType="VARCHAR" property="deviceMaintainId" />
    <result column="device_fault_id" jdbcType="VARCHAR" property="deviceFaultId" />
    <result column="device_maintain_emp_id" jdbcType="VARCHAR" property="deviceMaintainEmpId" />
    <result column="device_maintain_date" jdbcType="TIMESTAMP" property="deviceMaintainDate" />
    <result column="device_maintain_result" jdbcType="VARCHAR" property="deviceMaintainResult" />
    <result column="device_maintain_cost" jdbcType="DECIMAL" property="deviceMaintainCost" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>



   <!-- 新增-->
    <resultMap id="BaseResultMap1" type="com.erp4j.ssm.pojo.device.DeviceMaintainVo">
        <id column="device_maintain_id" jdbcType="VARCHAR" property="deviceMaintainId" />
        <result column="device_fault_id" jdbcType="VARCHAR" property="deviceFaultId" />
        <result column="device_maintain_emp_id" jdbcType="VARCHAR" property="deviceMaintainEmpId" />
        <result column="device_maintain_date" jdbcType="TIMESTAMP" property="deviceMaintainDate" />
        <result column="device_maintain_result" jdbcType="VARCHAR" property="deviceMaintainResult" />
        <result column="device_maintain_cost" jdbcType="DECIMAL" property="deviceMaintainCost" />
        <result column="note" jdbcType="VARCHAR" property="note" />
        <result column="device_maintain_emp" property="deviceMaintainEmp" jdbcType="VARCHAR" />
    </resultMap>

    <select id="find" resultMap="BaseResultMap1">

        select
			device_maintain_id,
			device_fault_id,
			device_maintain_emp_id,
			em.emp_name as device_maintain_emp,
			device_maintain_date,
			device_maintain_result,
			device_maintain_cost,
			dm.note
		from device_maintain dm
		left join employee em
		on dm.device_maintain_emp_id=em.emp_id
    </select>





























    <!--逆向工程生成-->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    device_maintain_id, device_fault_id, device_maintain_emp_id, device_maintain_date, 
    device_maintain_result, device_maintain_cost, note
  </sql>
  <select id="selectByExample" parameterType="com.erp4j.ssm.pojo.DeviceMaintainExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from device_maintain
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from device_maintain
    where device_maintain_id = #{deviceMaintainId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from device_maintain
    where device_maintain_id = #{deviceMaintainId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.erp4j.ssm.pojo.DeviceMaintainExample">
    delete from device_maintain
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.erp4j.ssm.pojo.DeviceMaintain">
    insert into device_maintain (device_maintain_id, device_fault_id, 
      device_maintain_emp_id, device_maintain_date, 
      device_maintain_result, device_maintain_cost, 
      note)
    values (#{deviceMaintainId,jdbcType=VARCHAR}, #{deviceFaultId,jdbcType=VARCHAR}, 
      #{deviceMaintainEmpId,jdbcType=VARCHAR}, #{deviceMaintainDate,jdbcType=TIMESTAMP}, 
      #{deviceMaintainResult,jdbcType=VARCHAR}, #{deviceMaintainCost,jdbcType=DECIMAL}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.erp4j.ssm.pojo.DeviceMaintain">
    insert into device_maintain
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceMaintainId != null">
        device_maintain_id,
      </if>
      <if test="deviceFaultId != null">
        device_fault_id,
      </if>
      <if test="deviceMaintainEmpId != null">
        device_maintain_emp_id,
      </if>
      <if test="deviceMaintainDate != null">
        device_maintain_date,
      </if>
      <if test="deviceMaintainResult != null">
        device_maintain_result,
      </if>
      <if test="deviceMaintainCost != null">
        device_maintain_cost,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deviceMaintainId != null">
        #{deviceMaintainId,jdbcType=VARCHAR},
      </if>
      <if test="deviceFaultId != null">
        #{deviceFaultId,jdbcType=VARCHAR},
      </if>
      <if test="deviceMaintainEmpId != null">
        #{deviceMaintainEmpId,jdbcType=VARCHAR},
      </if>
      <if test="deviceMaintainDate != null">
        #{deviceMaintainDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceMaintainResult != null">
        #{deviceMaintainResult,jdbcType=VARCHAR},
      </if>
      <if test="deviceMaintainCost != null">
        #{deviceMaintainCost,jdbcType=DECIMAL},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.erp4j.ssm.pojo.DeviceMaintainExample" resultType="java.lang.Long">
    select count(*) from device_maintain
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update device_maintain
    <set>
      <if test="record.deviceMaintainId != null">
        device_maintain_id = #{record.deviceMaintainId,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceFaultId != null">
        device_fault_id = #{record.deviceFaultId,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceMaintainEmpId != null">
        device_maintain_emp_id = #{record.deviceMaintainEmpId,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceMaintainDate != null">
        device_maintain_date = #{record.deviceMaintainDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deviceMaintainResult != null">
        device_maintain_result = #{record.deviceMaintainResult,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceMaintainCost != null">
        device_maintain_cost = #{record.deviceMaintainCost,jdbcType=DECIMAL},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update device_maintain
    set device_maintain_id = #{record.deviceMaintainId,jdbcType=VARCHAR},
      device_fault_id = #{record.deviceFaultId,jdbcType=VARCHAR},
      device_maintain_emp_id = #{record.deviceMaintainEmpId,jdbcType=VARCHAR},
      device_maintain_date = #{record.deviceMaintainDate,jdbcType=TIMESTAMP},
      device_maintain_result = #{record.deviceMaintainResult,jdbcType=VARCHAR},
      device_maintain_cost = #{record.deviceMaintainCost,jdbcType=DECIMAL},
      note = #{record.note,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.erp4j.ssm.pojo.DeviceMaintain">
    update device_maintain
    <set>
      <if test="deviceFaultId != null">
        device_fault_id = #{deviceFaultId,jdbcType=VARCHAR},
      </if>
      <if test="deviceMaintainEmpId != null">
        device_maintain_emp_id = #{deviceMaintainEmpId,jdbcType=VARCHAR},
      </if>
      <if test="deviceMaintainDate != null">
        device_maintain_date = #{deviceMaintainDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceMaintainResult != null">
        device_maintain_result = #{deviceMaintainResult,jdbcType=VARCHAR},
      </if>
      <if test="deviceMaintainCost != null">
        device_maintain_cost = #{deviceMaintainCost,jdbcType=DECIMAL},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where device_maintain_id = #{deviceMaintainId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erp4j.ssm.pojo.DeviceMaintain">
    update device_maintain
    set device_fault_id = #{deviceFaultId,jdbcType=VARCHAR},
      device_maintain_emp_id = #{deviceMaintainEmpId,jdbcType=VARCHAR},
      device_maintain_date = #{deviceMaintainDate,jdbcType=TIMESTAMP},
      device_maintain_result = #{deviceMaintainResult,jdbcType=VARCHAR},
      device_maintain_cost = #{deviceMaintainCost,jdbcType=DECIMAL},
      note = #{note,jdbcType=VARCHAR}
    where device_maintain_id = #{deviceMaintainId,jdbcType=VARCHAR}
  </update>
</mapper>